body {
  margin: 0;
  background-color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header, .footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #427884;
  color: white;
  text-align: center;
}

#header-title {
  margin: 20px 8px 0;
}

#tag-line-text {
  margin: 12px 8px;
}

#nav {
  width: 100%;
  box-sizing: border-box;
  padding: 12px 0 0;
  display: flex;
  justify-content: center;
}

.nav-link {
  background-color: transparent;
  font-size: 16px;
  border: none;
  padding-right: 12px;
  padding-bottom: 6px;
  color: rgba(0, 0, 0, .7);
}

.nav-link.selected {
  text-decoration: underline;
}

.nav-link:hover {
  cursor: pointer;
  color: black;
}

.page {
  display: none;
  padding: 12px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, .2);
} 

.page.show {
  display: flex;
  justify-content: center;
}

#landing-page .content-wrapper {
  margin: auto;
  margin-top: 0;
  box-sizing: border-box;
  width: 130%;
  max-width: 700px;
  max-height: 425px;
  display: flex;
  background-color: rgba(0, 0, 0, .1);
}

.slide-show-wrapper {
  width: 50%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}

#boys-page .slide-show-wrapper {
  width: 100%;
  flex-direction: column;
}

.slide-show-wrapper img {
  width: 100%;
  max-height: 442px;
  border-radius: 3px;
  z-index: 2;
  opacity: 1;
  transition: opacity 500ms;
}

#boys-page .slide-show-wrapper img {
  max-height: unset;
}

.slide-show-wrapper img.absolute {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#landing-page .content-wrapper .info-container {
  padding-left: 16px;
  box-sizing: border-box;
  color: black;
  min-height: 500px;
  font-size: 18px;
}

#litters-page, #boys-page, #girls-page, #about-us-page, #contact-us-page, #faq-page {
  min-height: 500px;
}

#landing-page .content-wrapper .info-container span {
  font-size: 16px;
  margin-right: 8px;
}

#boys-page {
  border-top: 1px solid black;
  max-width: 750px;
  margin: 4px auto 32px;
}

#boys-page h2 {
  color: #427884;
}

#boys-page .dog-wrapper .dog-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#boys-page .dog-wrapper .dog-title h2, #boys-page .dog-wrapper .dog-title .info-desc {
  margin: 0 0 12px;
}

#boys-page .slides-info-container {
  display: flex;
}

#boys-page .slides-info-container .slide-show-wrapper, #boys-page .slides-info-container .dog-info {
  width: 50%;
}

#boys-page .slides-info-container .dog-info {
  padding-left: 16px;
}

#boys-page .slides-info-container .dog-info .info-desc-wrapper {
  margin-bottom: 12px;
}

#boys-page .slides-info-container .dog-info .info-desc-wrapper .info-desc-label {
  display: inline;
  color: #427884;
  margin-right: 8px;
  font-size: 18px;
}

#boys-page .slides-info-container .dog-info .info-desc-wrapper .info-desc {
  display: inline;
  font-size: 18px;
}

#about-us-page.show {
  box-sizing: border-box;
  border-top: 1px solid black;
  padding: 16px 24px;
  font-size: 18px;
  margin: 4px auto 64px;
  max-width: 650px;
  display: flex;
  flex-direction: column;
}

#about-us-page.show p {
  margin-top: 0;
}

#contact-us-page.show {
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  max-width: 650px;
  margin: auto;
  position: relative;
  z-index: 1;
}

#contact-us-page.show input, #contact-us-page.show textarea {
  box-sizing: border-box;
  margin-bottom: 16px;
  padding: 12px;
  font-size: 18px;
  width: 100%;
}

#contact-us-page.show .button-wrapper {
  margin: 16px 0 32px;
  display: flex;
  justify-content: right;
}

#contact-us-page.show .button-wrapper button {
  padding: 12px;
  background-color: #186ddb;
  color: white;
  border: none;
  font-size: 16px;
  border-radius: 4px;
}

#contact-us-page.show .button-wrapper button:first-child {
  margin-right: 16px;
}

#contact-us-page.show #message-success {
  display: none;
}

#contact-us-page.show #message-success.show {
  box-sizing: border-box;
  display: flex;
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

#contact-us-page.show #message-success.show .material-symbols-outlined {
  font-size: 200px;
  color: green;
}

#faq-page {
  flex-direction: column;
  max-width: 750px;
  margin: 4px auto 32px;
  border-top: 1px solid black;
}

#faq-page .faq-wrapper {
  border: 1px solid black;
  border-bottom: none;
  padding: 16px;
}

#faq-page .faq-wrapper:last-child {
  border-bottom: 1px solid black;
}

#faq-page .faq-wrapper .faq-question-wrapper {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #427884;
}

.collapse-button, .expand-button {
  border: none;
  background-color: transparent;
  margin-left: 16px;
}

.collapse-button span, .expand-button span {
  font-size: 32px;
  color: #427884;
}

.collapse-button:hover, .expand-button:hover {
  cursor: pointer;
}

.collapse-button.hidden, .expand-button.hidden {
  display: none;
}

#faq-page .faq-wrapper .faq-answer-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 500ms;
}

#faq-page .faq-wrapper .faq-answer-wrapper.expanded {
  max-height: 440px;
}

#faq-page .faq-wrapper .faq-answer-wrapper .faq-answer {
  margin-top: 0;
  margin-left: 8px;
  margin-right: 8px;
  line-height: 22px;
}

.footer {
  flex-direction: row;
  justify-content: center;
  height: 400px;
  align-items: flex-start;
}

.footer-link {
  font-size: 20px;
  padding: 16px;
  border: none;
  background-color: transparent;
  color: white;
}

.footer-link:hover {
  cursor: pointer;
}

.footer-link.selected {
  text-decoration: underline;
}

.footer .social-media-icons {
  display: flex;
  padding-top: 12px;
}

.footer .social-media-icons .icon-wrapper {
  margin-right: 12px;
}

.footer .social-media-icons .icon-wrapper:hover {
  cursor: pointer;
}
  
@media screen and (max-width: 699px) {
  #landing-page .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: unset;
  }

  .slide-show-wrapper {
    width: 100%;
  }

  .slide-show-wrapper img {
    width: 100%;
    min-height: 0;
    max-height: 494px;
  }

  #landing-page .content-wrapper .info-container {
    min-height: 400px;
  }

  #boys-page .slides-info-container {
    flex-direction: column;
    align-items: center;
  }

  #boys-page .slides-info-container .slide-show-wrapper, #boys-page .slides-info-container .dog-info {
    padding-right: 0;
    width: 100%;
    max-width: 500px;
  }

  .footer {
    height: 200px;
  }
}
  
@media screen and (max-width: 449px) {
  .page {
    min-height: calc(100vh - 230px);
  }

  .footer {
    flex-direction: column;
    height: 220px;
    align-items: center;
  }

  .footer .social-media-icons {
    padding-top: 0;
  }
}